<%- include("header") -%>

<div class="mainPage">
  <form action="/" class="calculator" method="post">
    <input
      type="text"
      name="subject"
      id="subject"
      placeholder="Subject"
      required
    />
    <br />
    <br />

    <input type="number" name="grade" id="grade" placeholder="Grade" /> <br />
    <br />

    <br />
    <br />
    <button type="submit" id="submit-btn" class="all-sub">submit</button>

    <table class="gradeTable">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Grade</th>
          <th>Average Grade</th>
        </tr>
      </thead>
      <!-- Chat GPT -->
      <tbody>
        <% if (result && result.length > 0) { %> <% for (let i = 0; i <
        result.length; i++) { %>
        <tr>
          <td><%= result[i].subject %></td>
          <td><%= result[i].grade %></td>
          <% for (let j = 0; j < averages.length; j++) { %> <% if
          (averages[j].subject === result[i].subject) { %>
          <td><%= averages[j].avgGrade.toFixed(2) %></td>
          <% break; %> <% } %> <% } %>
        </tr>
        <% } %> <% } else { %>
        <tr>
          <td colspan="3">No data available</td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <br /><br />
  </form>
</div>

<%- include("footer") -%>
